﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>truYum Case Study</h1>
    <p class="lead">Order the food You Like...........</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

